.vetos{
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f0f0f, #000);
  color: white;
  padding: 4rem 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown_menus{
    font-size: 1.2rem;
}

.title_n_paragraph h1{
  font-size: 4rem;
  color: #ff4655;
  margin-bottom: 1rem;
}

.title_n_paragraph p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #aaa;
}
