* {
  box-sizing: border-box;
}

:root {
  --bg-dark: #0f0f0f;
  --bg-panel: #181818;
  --accent: #ff4655;
  --text-light: #eaeaea;
}


body{
  margin: 0;
}

.container{
  margin: 1rem;
  text-align: center;
}

.logo {
  width: 60px;
  height: auto;
  margin-bottom: 5px;
  margin-right: -150px;
}

.site-title{
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  background-color: var(--bg-panel);
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
 color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  background-color: #181818;
}

.nav li:hover{
  background-color: #575353;
  
}

